.inhalt {
	color: white;
  margin-top: 5%;
}

  .text{
    width: 100%;
    padding: 2.5%;
  }

    .text p{
      font-size: 100%;
      margin: 0.5%;
    }

  @media (min-width: 100px) and (max-width: 359px){
    .text h1{
      font-size: 110%;
    }

    .text h2{
      font-size: 90%;
    }

    .text h3{
      font-size: 80%;
    }

    .text strong{
      font-size: 90%;
    }

    .text table{
      font-size: 80%;
    }

    .text li{
      font-size: 80%;
    }

    .text p{
      font-size: 80%;
    }
  }


  @media (min-width: 360px) and (max-width: 480px){
    .text h1{
      font-size: 120%;
    }

    .text h2{
      font-size: 100%;
    }

    .text h3{
      font-size: 90%;
    }

    .text strong{
      font-size: 100%;
    }

    .text table{
      font-size: 90%;
    }

    .text li{
      font-size: 90%;
    }

    .text p{
      font-size: 90%;
    }
  }

  @media (min-width: 481px) and (max-width: 768px){
    .text h1{
      font-size: 130%;
    }

    .text h2{
      font-size: 110%;
    }

    .text h3{
      font-size: 100%;
    }

    .text strong{
      font-size: 110%;
    }

    .text table{
      font-size: 100%;
    }

    .text li{
      font-size: 100%;
    }

    .text p{
      font-size: 100%;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px){
    .text h1{
      font-size: 140%;
    }

    .text h2{
      font-size: 120%;
    }

    .text h3{
      font-size: 110%;
    }

    .text strong{
      font-size: 110%;
    }

    .text table{
      font-size: 100%;
    }

    .text li{
      font-size: 100%;
    }

    .text p{
      font-size: 100%;
    }
  }


  @media (min-width: 1025px) and (max-width: 1440px){
    .text h1{
      font-size: 160%;
    }

    .text h2{
      font-size: 130%;
    }

    .text h3{
      font-size: 120%;
    }

    .text strong{
      font-size: 120%;
    }

    .text table{
      font-size: 110%;
    }

    .text li{
      font-size: 110%;
    }

    .text p{
      font-size: 110%;
    }
  }