
/*STYLING FÜR DEN INHALT*/
.AnchorForPositioning {
    position: relative;
}

/*Titel*/

    .title-cart{
        display:flex;
        justify-content:center;
    }

    #seitentitel{
        background:linear-gradient(180deg,#210738 0%, #590e3e 100%);
        box-shadow: 0px 2px 4px rgb(100,100,100,0.5);
        border-radius: 8px;
        color: white;
        text-align:center;
        width: 50%;
        font-size: smaller;
        height: fit-content;
        margin-top: 2%;
    }

/* Einkaufswagen*/

    .rand{
        width:25%;
        display: flex;

    }
    #zurück-zum-shop{
        display: flex;
        justify-content: left;
        margin-top: 2%;
    }

        #zurück-zum-shop-button{
            height: fit-content;
            padding:2%;
            margin-top: 4%;
            margin-left: 4%;
            background-color: transparent;
            color: white;
            border: none;
            text-decoration: none;
        }

        #zurück-zum-shop-button:hover{
            border: 0.5px solid white;
            border-radius: 8px;
        }

        #zurück-zum-shop h4{
            margin: 0;
            padding: 0;
        }


    #einkaufswagen{
        display: flex;
        justify-content: right;
        margin-top: 2%;
        padding-top: 1.5%;
        padding-bottom: 0.5%;

    }
    #einkaufswagen img{
        width: 70%;
        height: auto;
    }

    .cart-link {
        color: white;
        display: flex;
        align-items: center;
        position: relative;
    }

    .cart-icon {
        width: 50px;
        color: white;
        z-index: 100;
    }

    .cart-text {
        margin-top: 12px;
        font-size: 15px;
        font-weight: 700;
    }

    .cart-quantity {
        color: white;
        font-size: 16px;
        font-weight: 700;

        position: absolute;
        top: 4px;
        left: 22px;
        
        width: 26px;
        text-align: center;
    }


/*Kassa*/

#maindiv{
    display: flex;
    color: white;
}

#kassa-form{
    display: flex;
    width: 100%;
}

    #links{
        width: 40%;
        margin-left: 10%;
    }

        #kassa-titel h2{
            font-size: 30px;
        }

        #links h3{
            font-size: 20px;
            margin: 1% 0% 1% 0%;
        }

        .input-feld{
            margin-bottom: 2%;
            width: 80%;
            height: 30px;
        }

        .zahlungsart{
            margin-bottom: 2%;
            width: 80%;
            height: 30px;
            font-size: larger;
        }


        .fehler{
            color: red;
            font-size: 20px;
            display: none;
        }
        .bezahlt{
            color:green;
            font-size: 20px;
            display: none;
        }



    #rechts{
        display: flex;
        width: 40%;
        margin-right: 10%;
        margin-top: 0.5%;
        justify-content: flex-end;
    }
        .kassa {
            background: linear-gradient(233deg, rgba(237,31,91,0.38) 0%, #261052 100%);
            background-blend-mode: normal;
            margin-top: 3%;
            width: 70%;
            height: max-content;
            padding: 2%;
            border-radius: 8px;
            text-align: center;

        }

        #summe {
            margin: 0;
            font-size: 30px;
            color: #FFFFFF;
        }

        #totalPrice {
            margin: 0;
            font-size: 30px;
            color: #FFFFFF;
        }

        .kassa p {
            color: #FFFFFF;
            font-size: 12px;
        }

        .checkout-button {
            background: #120638;
            background-blend-mode: normal;
            color: #FFFFFF;
            border: none;
            margin: 5%;
            padding: 5% 20%;
            border-radius: 8px;
            font-size: px;
            cursor: pointer;}




    @media only screen and (max-width: 600px) {


        #zurück-zum-shop{
            margin-top: 5%;
        }
    
            #zurück-zum-shop-button{
                font-size: 80%;
                padding:2%;
                margin-top: 4%;
                margin-left: 4%;
            }
    
        #seitentitel {
            margin-top: 2.5%;
            margin-bottom: 1.5%;
            font-size: 3vw;
        }
    
        #einkaufswagen img{
            width: 40%;
            height: auto;
            }
    
            .cart-quantity {
            font-size: 70%;
            left: 10%;  
            bottom: 0%;
            }


            #maindiv{
                display: block;
                color: white;
            }

            #links{
                width: 90%;
                margin-left: 14%;
            }

            #rechts{
                display: flex;
                width: 100%;
                margin-left: 0;
                margin-top: 0%;
                justify-content: center;
            }

        
    
    
            #summe {
                font-size: 150%;
            }
    
            #totalPrice {
                font-size: 120%;
            }
    
            .checkout-button {
                font-size: 100%;
            }
    
    
    
    }


    @media only screen and (min-width: 601px) and (max-width: 1024px) {


        .titel-cart{
            margin-top: 5%;
            margin-bottom: 5%;
        }
    
        #seitentitel {
            margin-top: 2.5%;
        }
    
    
            #einkaufswagen img{
                width: 50%;
                height: auto;
            }
    
            .cart-quantity {
                font-size: 70%;
                left: 15%;  
                bottom: 0;
            }

            #maindiv{
                margin-top: 2%;
            }

    
    
            #summe {
                font-size: 140%;
            }
    
            #totalPrice {
                font-size: 140%;
            }
    
            .checkout-button {
                font-size: 100%;
            }
    
    
    
    }