
	
	a:hover{
		text-decoration: underline;
	}
	h2 {
		text-decoration: underline;
	}
/* STYLING FÜR DIE RESTLICHE SEITE */
	.AnchorForPositioning {
		position: relative;
	}
	#socialnav{
		display:flex;
		justify-content:right;
		margin-top: 1.5%;
	}

	.socialicon{
		margin-left: 2%;
	}
	.socialicon img{
		width:70%;
		height: auto;
	}
	.whitebg {
		background: transparent;
		position: absolute;
		z-index: -101;
		width: 100%;
		height: 100%;
	}

/*INFOBILDER*/
	#infobilder {
		display: flex;	
	}
	.links{
		margin: 0.8em 0.8em 0.8em 0em;
		display: flex;
		width: 50%;
	}
	#collage {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.row{
		display:flex;
	}
	#eins{
		width:57%;
		height:auto;
	}
	#zwei{
		width:40%;
		height:auto;
		margin-top: 3%;
		margin-left: 2%;
	}
	#drei{
		width:40%;
		height:auto;
		margin-top: -6%;
		margin-left:6%;
		
	}
	#vier{
		width:45%;
		height:auto;
		margin-top:1.3%;
		margin-left:2%; 
	}
		#collage img{
			flex:1;
			width: 100%;
			height: auto;
			position: relative;
		}
	
	#hinter{
		position:relative;
		display: flex;
		margin-left: 2.5%;
		margin-top: 5%;
		width: 40%;
		z-index: 0;
		justify-content: right;
	}

	.pic6{
		position: absolute;
		margin-top: 3%;
		z-index: -1;
	}
	.pic6 img{
		width:100%;
		height: auto;

	}

	.rechts {
		position: relative;
		z-index: 1;
		display: flex;
		width:60%;
		height: 100%;
		padding-left: 5%;
		background:rgba(68,21,58,0.5);
		background-blend-mode: normal;
		color: white;
	}
	#Giginfo{
		width: 100%;
	}

	#Blumenlogo {
		margin-top: 10%;
		position:relative;
		color: #fff;
		width: 100%;
		height:auto;
		margin-left: 2%;
	}
	#Blumenlogo img{
		width: 80%;
		height: auto;
	}


/*SECTION2*/
	#sec2{
		position: relative;
		background: linear-gradient(180deg, rgba(23, 4, 61, 0.5)0%, rgba(87, 5, 28, 0.5)99.39%);
		color: white;
		padding-bottom: 2%;
		}
	.sectionheading {
		position: relative;
		max-width:100%;
		padding-left: 1%;
		font-size: 180%;
		font-weight: bold;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.sectionheading h2{
		text-decoration: none;
		font-size: 1.5em;
	}
	#sec2 p{
		font-size: 120%;
	}
	#gallery {
		display: flex;
		padding-left: 2%;
	}
	.para{
		width: 30%;
		height: auto;
		margin-right: 5%;
		
	}
	.para a{
		text-decoration: underline;
		color: rgba(15,204,32,1);
	}
	#bild{
		position: relative;
		width: 30%;
		display: flex;
		justify-content: center;

	}
	#gallery img {
		width: 70%;
		height: 100%;
	}



	@media only screen and (max-width: 600px) {

		#sitewrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		#horizontalnav {
			font-size: 3vw;
		}

		.socialicon{
			margin: 0;
		}
			.socialicon img{
				width:50%;
				height: auto;
			}


		#infobilder {
			display: flex;
			flex-direction: column; /* Stack images vertically */
			justify-content: center; /* Center content vertically */
			align-items: center; /* Center content horizontally */
			width: 100%;
		}
			.links {
				width: 80%;
			}

			#hinter {
				width: 60%;
			}

			.rechts {
				width:60%;
				padding-left: 2.5%;
				padding-right: 1%;
			}

				#Giginfo h2{
					font-size: 4vw;
				}
				#Giginfo li{
					font-size: 3vw;
				}

				#Blumenlogo {
					display: none;
				}

		.sectionheading{
			padding-left: 5%;
		}
			.sectionheading h2 {
				font-size: 4vw;
				margin-top: 5%;
				margin-bottom: 0%;
			}

		#gallery {
			padding: 0% 5% 5% 5%;
		}
		.para {
			margin-top: 0;
			width: 50%;
			font-size: 3vw;
		}
			
		#bild {
			display: none;
			width: 0%;
		}

}

@media (max-width: 1024px) {

	#sitewrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#infobilder {
		display: flex;
		flex-direction: column; /* Stack images vertically */
		justify-content: center; /* Center content vertically */
		align-items: center; /* Center content horizontally */
		width: 100%;
	}
		.links {
			width: 80%;
		}

		#hinter {
			width: 60%;
		}

		.rechts {
			width:60%;
			padding-left: 2.5%;
			padding-right: 1%;
		}

			/* #Blumenlogo {
				display: none;
			} */

	.sectionheading{
		padding-left: 5%;
	}
		.sectionheading h2 {
			font-size: 3vw;
			margin-top: 5%;
			margin-bottom: 0%;
		}

	#gallery {
		padding: 0% 5% 5% 5%;
	}
	.para {
		margin-top: 0;
		width: 50%;
		font-size: 3vw;
	}
		
	#bild {
		display: none;
		width: 0%;
	}
}


